<section id="about" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="img-block">
                        <img src="images/blog-lg.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 pt-6 col-md-12">
                    <div class="row justy-content-center">
                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                     <i class="ti-panel"></i>
                                </div>
                                <h4 class="mb-2">Monetize ad targeting</h4>
                                <p>Improve your ROAS with ad targeting based on consumers' spare-change investments.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                   <i class="ti-shopping-cart"></i>
                                </div>
                                <h4 class="mb-2">Re-think checkout</h4>
                                <p>Spice up checkout experience oriented by investing, not spending.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-face-smile"></i>
                                </div>
                                <h4 class="mb-2">Empower consumers</h4>
                                <p>Drive customer loyalty by allowing them to invest at the point of sales.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-plug"></i>
                                </div>
                                <h4 class="mb-2">API-based services</h4>
                                <p>Onboard with Millet's APIs for trading, user & ad management, and more.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>