 <footer class="section " id="footer">
   <div class="overlay footer-overlay"></div>
   <!--Content -->
   <div class="container">
     <div class="row justify-content-start">
       <div class="col-lg-4 col-sm-12">
         <div class="footer-widget">
           <!-- Brand -->
           <a href="index.html" class="footer-brand text-white">
             Millet
           </a>
           <p>Embed fractional investing in checkout to empower your marketplace with monetary ad targeting. </p>
         </div>
       </div>
       <div class="col-lg-4"></div>

       <div class="col-lg-2 col-sm-6">
         <div class="footer-widget">
           <h3>About</h3>
           <!-- Links -->
           <ul class="footer-links">
            <li>
              <a href="about.html">
                About Us
              </a>
            </li>
             <li>
               <a href="service.html">
                 Services
               </a>
             </li>
             <li>
               <a href="contact.html">
                 Contact
               </a>
             </li>
           </ul>
         </div>
       </div>

       <div class="col-lg-2 col-sm-6">
         <div class="footer-widget">
           <h3>Socials</h3>
           <!-- Links -->
           <ul class="list-unstyled footer-links">
             <li>
               <a href="https://www.twitter.com/milletretail"><i class="fab fa-twitter"></i>Twitter
               </a></li>
             <li><a href="https://www.linkedin.com/in/wliu2687/"><i class="fab fa-linkedin"></i>linkedin
               </a></li>
           </ul>
         </div>
       </div>
     </div> <!-- / .row -->


     <div class="row text-right pt-5">
       <div class="col-lg-12">
         <div class="overflow-hidden">
           <!-- Copyright -->
          <p class="footer-copy">
            Copyright &copy; <script>var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
          </script>. Developed by <a class="current-year" href="https://www.linkedin.com/in/wliu2687/">Aiden Liu</a>
          </p>
         </div>
       </div>
     </div> <!-- / .row -->
   </div> <!-- / .container -->
 </footer>


 <!--  Page Scroll to Top  -->

 <a id="scroll-to-top" class="scroll-to-top js-scroll-trigger" href="#top-header">
   <i class="fa fa-angle-up"></i>
 </a>