<section class="section" id="projects-wrap">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h1 class="text-white">Monetize ad targeting by offering your customers with commission-free fractional investing.</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p class="lead text-white">Millet boosts retailers' ad performance by converting their consumers into loyal investors. With every spare-change investment consumers make, retailers are empowered with a monetary way of ad targeting. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="section-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="single-project">
                        <img src="images/projects/p-12.png" alt="" class="img-fluid">
                        <div class="project-content">
                            <h4>A new way of advertising</h4>
                            <p>Instead of non-monetary targeting such as demographics, retailers can target ads based on the monetary user behaviors and metrics.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="single-project">
                        <img src="images/projects/p-11.png" alt="" class="img-fluid">
                        <div class="project-content">
                            <h4>A new way of investing</h4>
                            <p>Retailers empower consumers with commision-free fractional investing, which generates insightful user data and a new revenue channel. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 ">
                    <div class="single-project">
                        <img src="images/projects/p-13.png" alt="" class="img-fluid">
                        <div class="project-content">
                            <h4>A new way of engaging</h4>
                            <p>Retailers enhance customer loyalty by offering a shopping experience that is not solely spending-oriented, but also investing-oriented.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-4">
                <div class="col-lg-7 col-md-12 col-sm-12 ">
                    <div class="single-project">
                        <img src="images/bg/bg3.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                    <div class="project-content-block">
                        <h4>Frown at ad revenues or customer retention?</h4>
                        <h2>Rethink the way you monetize</h2>
                        <p>Be an early adopter to embed investing in checkout. This way, you could differentiate your marketplace and acquire quality user data for monetary ad targeting.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>