<section class="section" id="process">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Our Services 
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Millet is right for you if your retail website is as described below.
                        </p>

                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/projects/p-18.png" alt="" class="img-fluid">

                        <h3>Ad Monetization</h3>
                        <p>You want effective advertising through monetary user personas to drive up your revenues.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/projects/p-16.png" alt="" class="img-fluid">

                        <h3>Customer Engagement</h3>
                        <p>You have a sizable millennial and Gen Z consumer base who likes fractional investing.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/projects/p-15.png" alt="" class="img-fluid">

                        <h3>User Experience</h3>
                        <p>You want to spice up user experience that could also generate new revenues.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
