<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            Solutions
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-5 text-white">
                            We offer API-first solutions to revolutionize retail monetization on all fronts. 
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-stats-up"></i>
                        <h3>Fractional Investing</h3>
                        <p>Offer easy, commission-free, fractional investing so consumers round up on every purchase. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-wallet"></i>
                        <h3>Digital Wallet</h3>
                        <p>Consumers are empowered with digital wallets to track, buy or sell stocks on your marketplace.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-bar-chart"></i>
                        <h3>Data Analytics</h3>
                        <p>Track metrics on consumers' investing engagement all in one platform.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-target"></i>
                        <h3>Ad Targeting</h3>
                        <p>Target ads based on monetary criteria, with data revealing consumers' investing behaviors.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-server"></i>
                        <h3>Exclusive Algorithm</h3>
                        <p>Enjoy exclusive algorithms that quatify consumers' personas for enhanced ad targeting.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Easy Integration</h3>
                        <p>Millet offers quality customer support for your easy integration and onboarding.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>