<section class="section" id="section-testimonial">
        <div class="container">
           <div class="row align-items-center">
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="section-heading testimonial-heading">
                        <h1>Why would you <br> consider Millet</h1>
                        <p>You should contact us if you are one of the users described here.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/client/test-1.jpg" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>John Edward</h4>
                                       <h6>Popular Retail Website</h6>
                                   </div>
                               </div>

                                I am having trouble with customer retention, since users often abandon cart items or avoid donations, delivery fees, or tipping.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/client/test-2.jpg" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Alice Scott</h4>
                                       <h6>Secondhand Luxury Marketplace</h6>
                                   </div>
                               </div>

                                Millennial and Gen Z consumers are growing. They like fractional investing and I want new ways of engagement and monetization.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/client/test-3.jpg" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Will Wallace</h4>
                                       <h6>Home Appliances Online Retailer</h6>
                                   </div>
                               </div>

                                I struggle with advertising because of the wide range of products on my website. I want precise, monetary ad targeting.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/client/test-7.png" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Sofia Lopez</h4>
                                       <h6>Rising Electronics Marketplace</h6>
                                   </div>
                               </div>

                                I see user growth on my website. I want to gain new revenue channels and offer differentiating user experience. 

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                     
                </div>
            </div>
        </div>
    </section>